header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #022044;
    width: 100vw;
    height: 4rem;
    border-bottom: 2px solid #000000;
}
.menu1 {
    width: 20rem;
    display: none;
    justify-content: space-between;
}
.btnmobile {
    font-size: 20pt;
    color: #000000;
    cursor: pointer;
}