@media (min-width: 700px) {
    .menu1 {
        display: flex;
    }
    .sessao1 p {
        display: initial;
    }
    .btnmobile {
        display: none;
    }
    .sessao1 h1 {
        font-size: 25pt;
    }
}